#main {
    width: 500px;
    height: 315px;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs li {
    width: 50%;
    text-align: center;
}

.btn-holo-info {
    color: #5bc0de;
    border-color: #46b8da;
    background-color: #fff;
}