#main {
    width: 1000px;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#content {
    width: 1000px;
    height: 400px;
    padding: 20px;
    position: fixed;
    top: 18%;
    left: 0;
    right: 0;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

#content .message {
    padding-right: 30px;
    background-color: rgba(255, 133, 82, 0.49);
}

#content .message .panel-body {
    background-color: white;
}

#content .message.reply {
    text-align: right;
    padding-left: 30px;
    padding-right: 0px;
    background-color: rgba(41, 115, 115, 0.5);
}

#content .message span {
    display: block;
}

#chat {
    width: 1000px;
    height: 180px;
    padding: 20px;
    position: fixed;
    top: 73%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#chat textarea {
    width: 90%;
    float: left;
}

#chat button {
    margin-left: 20px;
    margin-top: 40px;
}
