#nav {
    width: 1000px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

.breadcrumb {
    background-color: white;
    margin-bottom: 0;
}

.breadcrumb.left {
    float: left;
    width: 90%;
}

.breadcrumb.right {
    float: right;
    width: 10%;
}

#nav span {
    color: #337ab7;
}